@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body {
        @apply bg-black
    }
}

.gradient{
    background: rgba(0,0,0,.4);
    background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 60%,rgba(0,0,0,.8));
}
.btn-red{
    background-image: linear-gradient(180deg,#e50914,#db0510);
}

input[type=checkbox] {
    position: relative;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border-radius: 3px;
    background-color: rgb(100, 100, 100);
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

.ReactCollapse--collapse {
    transition: height 200ms;
  }